{% extends 'base.html.twig' %}

{% block title %}Share Cheese!{% endblock %}

{% block header %}

    <header>
        <div class="bghead">
            <div class="parallax-container">
                <div class="center-align"><h1 class="white-text text-darken-2 ">Bienvenue chez Share Cheese</h1></div>
                <div class="parallax"><img src="../img/fromage_home.jpg"></div>
                <div class="center-align"><a href="{{ path('app_register') }}" id="inscription" class="waves-effect waves-light btn" href="{{ path('app_register') }}">Inscrivez-vous</a></div>
            </div>
        </div>
    </header>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>


</script>
{% endblock %}

{% block body %}
    <hr>
    <div class="container row descsite">
        <div class="col s4 ">
            <img src="../img/morbier.jpg" alt="" class="circle responsive-img">
            <h4>Notre Volonté</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur delectus distinctio dolore exercitationem expedita facilis illum iste magnam magni nesciunt nisi, numquam quo quod ratione rem reprehenderit similique ullam!</p>
        </div>
        <div class="col s4 ">
            <img src="../img/parmesan.jpeg" alt="" class="circle responsive-img">
            <h4>Inscrivez-Vous</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur delectus distinctio dolore exercitationem expedita facilis illum iste magnam magni nesciunt nisi, numquam quo quod ratione rem reprehenderit similique ullam!</p>
        </div>
        <div class="col s4 ">
            <img src="../img/comte.jpg" alt="" class="circle responsive-img">
            <h4>Les Annonces</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur delectus distinctio dolore exercitationem expedita facilis illum iste magnam magni nesciunt nisi, numquam quo quod ratione rem reprehenderit similique ullam!</p>
        </div>
    </div>
    <hr>
    <div>
        <h3 class="center-align">Les Derniers Echanges</h3>
        <div class="center-align"><a id="echanges" class="waves-effect waves-light btn" href="{{ path('app_register') }}">La Liste des Echanges</a></div>
    </div>
    <hr>
    <div>
        <h3 class="center-align">Les Dernières News</h3>
        <div class="center-align"><a id="news" class="waves-effect waves-light btn" href="{{ path('app_register') }}">Les News</a></div>
    </div>

{% endblock %}
