{% extends 'base.html.twig' %}

{% block title %}Liste d'échanges{% endblock %}

{% block body %}
    <div class="row">
        <h1>Tous les échanges</h1>
    </div>

    {% for exchange in exchanges %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <span class="new badge left card-badge" data-badge-caption="{{ exchange.status }}"></span>
                    {% if exchange.ad.cheese.image is empty %}
                    <img src="{{ asset('images/cheese/default.png') }}">
                    {% else %}
                    <img src="{{ exchange.ad.cheese.image }}">
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title">Echange de {{ exchange.ad.cheese.name }} contre {{ exchange.cheeseGiven.name }}</span>
                    <p>Par {{ exchange.ad.user.firstName }}</p>
                    <p>Proposé le {{ exchange.dateProposed ? exchange.dateProposed|date('d/m/Y') : '' }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ path('exchange_show', {id: exchange.id}) }}" class="waves-effect waves-light btn-small"><i class="material-icons left">subject</i>voir les infos</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>No records found</p>
    {% endfor %}

{% endblock %}
