{{ form_start(form) }}

<div class="input-field col s12 m6">
    {{ form_label(form.area) }}
    {{ form_widget(form.area) }}
    {{ form_errors(form.area) }}
</div>

<div class="input-field col s12 m6">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>

<div class="input-field col s12">
    {{ form_label(form.frenchWikipedia) }}
    {{ form_widget(form.frenchWikipedia) }}
    {{ form_errors(form.frenchWikipedia) }}
</div>
<div class="input-field col s12">
    {{ form_label(form.englishWikipedia) }}
    {{ form_widget(form.englishWikipedia) }}
    {{ form_errors(form.englishWikipedia) }}
</div>

<div class="input-field col s12">
    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}
    {{ form_errors(form.image) }}
</div>

<div class="input-field col s12">
    {{ form_widget(form.milk) }}
    {{ form_label(form.milk) }}
    {{ form_errors(form.milk) }}
</div>

<div class="input-field left-align col s6">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form, {'render_rest': false}) }}
