{% extends 'base.html.twig' %}

{% block title %}Fromage{% endblock %}

{% block body %}
    <h2>Fromage</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td><img src="{{ cheese.image }}" /></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cheese.name }}</td>
            </tr>
            <tr>
                <th>Département</th>
                <td>{{ cheese.area }}</td>
            </tr>
            <tr>
                <th>Type de lait</th>
                <td>{{ cheese.milk }}</td>
            </tr>
            <tr>
                <th>Wikipedia</th>
                <td><a href="{{ cheese.frenchWikipedia }}">Wikipedia</a></td>
            </tr>

        </tbody>
    </table>

    <div class="map-container">
        <div id="map">
        </div>
    </div>

    <a href="{{ path('cheese_index') }}" class="btn btn-primary">back to list</a>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
<!-- MapBox JS -->
<script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>

<script type="text/javascript">

class Map {

    constructor(element, options = {}) {
        this.element = element;
        this.options = Object.assign({}, {
            zoom: 8,
            scrollWheelZoom: false
        }, options)
        this.initMap();
        this.initMapboxLayer();
        this.initGeoShape();
    }


    /**
     * Initialise la carte Leaflet
     * @returns {Object}
     */
    initMap() {
        this.map = L.map('map', {
            center: [{{ geoPoint[0] }}, {{ geoPoint[1] }}],
            zoom: this.options.zoom,
            scrollWheelZoom: this.options.scrollWheelZoom
        });
    }

    initMapboxLayer() {
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}@2x.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 20,
            minZoom: 2,
            id: 'mapbox.streets',
            style: 'mapbox://styles/mapbox/streets-v11',
            accessToken: 'pk.eyJ1IjoiZ3VzdGF2aW8iLCJhIjoiY2pxZ2l0Y2V5MTl2aTQybzQ1djg0eW9jaSJ9.CBOCBI2JZKdxRW8mse7QZQ'
        }).addTo(this.map);
    }

    initGeoShape() {
        var geoAreaShape = {
            "type": "Feature",
        	"properties": {
        		"name": "{{ cheese.name }}",
        		"amenity": "{{ cheese.area }}",
        		"popupContent": "La région du {{ cheese.name }} !"
        	},
        	"geometry": {{ geoShape|raw }}
        }
        L.geoJSON(geoAreaShape).addTo(this.map)
    }
}

document.addEventListener('DOMContentLoaded', () => {
    new Map(document.getElementById('map'), {});
})

</script>

{% endblock %}
