{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <section class="container">
        {% for article  in articles %}
            <article class="article_container">
                <a href="{{ path('blog_show', {'slug': article.slug}) }}">
                    <img src="{{ uploaded_asset(article.imagePath)|imagine_filter('squared_thumbnail_small') }}" alt="{{ article.imageFilename }}">
                    <aside class="article_img">
                        <span>{{ article.title }}</span>
                        <br>
                        <span>{{ article.author.lastName }} {{ article.author.firstName}}</span>
                        <span>{{ article.createdAt|date }}</span>
                    </aside>
                </a>

            </article>
        {% endfor %}
    </section>

{% endblock %}
