{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">

            <article>
                <img src="{{ article.imageFilename }}" alt="">
                <h2><a href="{{ path('blog_show', {'slug': article.slug}) }}">{{ article.title }}</a></h2>
                <p><span>{{ article.author.firstName }} {{ article.author.lastName }}</span> le <span>{{ article.createdAt|date }}</span></p>
                <p>{{ article.content }}</p>
            </article>

    </section>
{% endblock %}

{% block title %}
    {{ article.slug }}
{% endblock %}

