{% extends 'base.html.twig' %}

{% block body %}

    <section class="row">
            <article class="col s12">
                <img src="{{ uploaded_asset(article.imagePath)|imagine_filter('squared_thumbnail_medium') }}" alt="{{ article.imageFilename }}">
                <aside>
                    <span>{{ article.title }}</span>
                    <br>
                    <span>{{ article.createdAt|date }}</span>
                </aside>
            </article>
    </section>
    <section class="row">
            <article class="col s12">
                <p>{{ article.content }}</p>
            </article>
    </section>
{% endblock %}

{% block title %}
    {{ article.slug }}
{% endblock %}

