<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="{{ path('home') }}" class="left brand-logo">Share Cheese</a>
            <ul id="nav-mobile" class="right">
                <li>
                    <a href="{{ path('ad_index') }}">Ads</a>
                </li>
                <li>
                    <a href="{{ path('cheese_index') }}">Cheeses</a>
                </li>
                <li>
                    <a href="{{ path('app_login') }}">Login</a>
                </li>
                <li>
                    <a href="{{ path('app_register') }}">Register</a>
                </li>
            </ul>
            <form>
<<<<<<< HEAD
                <div class="input-field right">

=======
                <div class="input-field right hide-on-med-and-down">
>>>>>>> e2635055c14f76ab0d8aee4bde1221295506d60a
                    <input id="search" type="search" required="required">
                    <label class="label-icon" for="search">
                        <i class="material-icons">search</i>
                    </label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>
</nav>
