{% extends 'base.html.twig' %}

{% block title %}Liste d'annonces{% endblock %}

{% block body %}
    <div class="row">
        <h1>Toutes les annonces</h1>
    </div>
    <div class="row">
        <a href="{{ path('ad_new') }}" class="btn btn-primary">Créez une annonce</a>
    </div>
    <div class="row">
    {% for ad in ads %}
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <span class="new badge left card-badge" data-badge-caption="{{ ad.status }}"></span>
                {% if ad.cheese.image is empty %}
                <img src="{{ asset('images/cheese/default.png') }}">
                {% else %}
                <img src="{{ ad.cheese.image }}">
                {% endif %}
                <a href="{{ path('ad_show', {id: ad.id}) }}" class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons">subject</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title">Echange de {{ ad.cheese.name }}</span>
                <p>Par {{ ad.user.firstName }}</p>
                <p>{{ ad.description }}</p>
            </div>
            <div class="card-action">
                <a href="{{ path('exchange_new', {id: ad.id}) }}" class="waves-effect waves-light btn-small"><i class="material-icons left">shopping_basket</i>échangez</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col s12 m12">
        <p>Pas d'annonce trouvée</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
