{% extends 'base.html.twig' %}

{% block title %}Liste d'annonces{% endblock %}

{% block body %}

    <h1>Annonces en base de données</h1>

    <a href="{{ path('ad_new') }}" class="btn btn-primary">Create new</a>

    {% for ad in ads %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ ad.cheese.image }}">
                    <span class="card-title">Echange de {{ ad.cheese.name }}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">shopping_basket</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Par {{ ad.user.firstName }}</p>
                    <p>{{ ad.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="row">
            <p>No records found</p>
        </div>
    {% endfor %}

{% endblock %}
