{% extends 'base.html.twig' %}

{% block title %}Liste d'annonces{% endblock %}

{% block body %}
    <div class="row">
        <h1>Toutes les annonces</h1>
    </div>
    <div class="row">
        <a href="{{ path('ad_new') }}" class="btn btn-primary">Créez une annonce</a>
    </div>

    {% for ad in ads %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <span class="new badge left card-badge" data-badge-caption="{{ ad.status }}"></span>
                    <img src="{{ ad.cheese.image }}">
                    <a href="{{ path('ad_show', {id: ad.id}) }}" class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">subject</i>
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title">Echange de {{ ad.cheese.name }}</span>
                    <p>Par {{ ad.user.firstName }}</p>
                    <p>{{ ad.description }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ path('ad_new') }}" class="waves-effect waves-light btn-small"><i class="material-icons left">shopping_basket</i>ECHANGEZ</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>No records found</p>
    {% endfor %}

{% endblock %}
