{% extends 'base.html.twig' %}

{% block title %}Fromage{% endblock %}

{% block body %}
    <h2>Fromage</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de l'utilisateur</th>
                <td>{{ ad.user.firstName }} {{ ad.user.lastName }}</td>
            </tr>
            <tr>
                <th>Fromage</th>
                <td>{{ ad.cheese.name }}</td>
            </tr>
            <tr>
                <th>Type de lait</th>
                <td>{{ ad.cheese.milk }}</td>
            </tr>
            <tr>
                <th>Date de début d'échange</th>
                <td>{{ ad.startDate ? ad.startDate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin d'échange</th>
                <td>{{ ad.endDate ? ad.endDate|date('d/m/Y') : '' }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('ad_index') }}" class="btn btn-primary">back to list</a>

{% endblock %}
