{{ form_start(articleForm) }}
    {{ form_row(articleForm.title, {
        label: 'Article title'
    }) }}
    {{ form_row(articleForm.imageFile, {
        attr: {
            'placeholder': 'Select an article image'
        }
    }) }}

{{ form_row(articleForm.content) }}

<button type="submit" class="btn btn-primary">Créer</button>
{{ form_end(articleForm) }}