{% extends 'base.html.twig' %}

{% block title %}Hello ArticleAdminController!{% endblock %}

{% block body %}
    <h1>Manage Articles ({{ articlesPagination.getTotalItemCount }})</h1>

    <form>
        <div>
            <label>
                <input type="text"
                       name="term"
                       class="form-control"
                       value="{{ app.request.query.get('term') }}"
                       placeholder="Search..."
                >
            </label>
        </div>
    </form>

    <table class="table highlight responsive striped">
        <thead>
        <tr>
            <th>titre</th>
            <th>id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articlesPagination %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.id }}</td>
                <td>
                    <a href="{{ path('blog_show', {'slug': article.slug}) }}">show</a>
                    <a href="{{ path('admin_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <aside class="center-align">
        {{ knp_pagination_render(articlesPagination) }}
    </aside>

{% endblock %}
