    <div class="row">
        <h2>Toutes mes annonces</h2>
    </div>

    <div class="row">
        <table class="striped">
            <thead>
                <tr>
                    <th>Fromage proposé</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ad in app.user.ads %}
                <tr>
                    <td>{{ ad.cheese.name }}</td>
                    <td>{{ ad.startDate ? ad.startDate|date('d/m/Y') : '' }}</td>
                    <td>{{ ad.endDate ? ad.endDate|date('d/m/Y') : '' }}</td>
                    <td><span class="new badge" data-badge-caption="{{ ad.status }}"></span></td>
                    <td>
                        <a href="{{ path('ad_show', {id: ad.id}) }}" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">notes</i></a>
                        <a href="{{ path('ad_edit', {id: ad.id}) }}" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">create</i></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">Pas d'annonce</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
