{% extends 'base.html.twig' %}

{% block title %}Utilisateurs en base de données{% endblock %}

{% block body %}

    <h1>Utilisateurs en base de données</h1>

    <table class="table highlight responsive striped">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Nombre d'annonces postées</th>
                <th>Nombre d'échanges postés</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.ads|length }}</td>
                <td>{{ user.exchanges|length }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-primary">Create new</a>



{% endblock %}
