{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
        <div class="row">
            <h1>{{ app.user.firstName }} {{ app.user.lastName }}</h1>
        </div>

        <div class="row s12 m12 z-depth-3 valign-wrapper">
            <aside class="col s12 m3">
                <img src="{{ asset('images/users/default.png') }}" class="circle responsive-img" alt="default_user_image">
            </aside>
            <article class="col s12 m8 l6">
                <div class="row m9">
                    <div class="col s12 m4 center-align">
                        <p>Nombre d'annonces en ligne</p>
                        <p class="chip">{{ app.user.ads|length }}</p>
                    </div>
                    <div class="col s12 m4 center-align">
                        <p>Nombre d'échanges en cours</p>
                        <p class="chip">{{ app.user.createdExchanges|length }}</p>
                    </div>
                    <div class="col s12 m4 center-align">
                        <p>Nombre d'échanges terminés</p>
                        <p class="chip">{{ app.user.createdExchanges|length }}</p>
                    </div>
                </div>
                <div class="row s12 m6 center-align">
                    <a class="waves-effect waves-light btn" href="{{ path('ad_new') }}">Créer une annonce</a>
                </div>
            </article>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn" href="{{ path('user_edit', {id: app.user.id}) }}">Modifier mon profil</a>
        </div>
        <div class="row">
            {{ include('user/_delete_form.html.twig', {'button_label': 'Supprimer mon profil'}) }}
        </div>
        <div class="row">
            {{ include('user/_ads.html.twig') }}
        </div>
        <div class="row">
            {{ include('user/_created_exchanges.html.twig') }}
        </div>
        <div class="row">
            {{ include('user/_applied_exchanges.html.twig') }}
        </div>

{% endblock %}
