{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <style>
        .user_main {
            height: 100vh;
        }

        .user_container {
            margin-top: 50px;
        }

        .user_container img {
            width: 100%;
            max-width: 400px;
            height: auto;
        }
    </style>

    <section class="container user_main center-align">
        <h1>{{ app.user.firstName }} {{ app.user.lastName }}</h1>
        <div class="row user_container z-depth-3">
            <div class="col s12 m6">
                <img src="{{ asset('images/users/default.png') }}" class="user-profile-img" alt="default_user_image">
            </div>
            <div class="col s12 m6 test">
                <aside class="row resume-user">
                    <div class="col s12 m4">
                        <p>Nombre d'annonces</p>
                        <p class="chip">{{ app.user.ads|length }}</p>
                    </div>
                    <div class="col s12 m4">
                        <p>Nombre d'échanges</p>
                        <p class="chip">{{ app.user.createdExchanges|length }}</p>
                    </div>
                </aside>
                <a class="waves-effect waves-light btn" href="{{ path('ad_new') }}">Créer une annonce</a>
            </div>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn" href="{{ path('user_edit', {id: app.user.id}) }}">Modifier mon profil</a>
        </div>
        <div class="row">
            {{ include('user/_ads.html.twig') }}
        </div>

        <div class="row">
            {{ include('user/_exchanges.html.twig') }}
        </div>
    </section>

{% endblock %}
